:root {
  --background: #171717;
  --background2: #131313;
  --background3: #1a1818;
  --background4: #1f1c22;
  --foreground: white;
  --foreground2: #c4c4c4;
  --foreground3: #968aae;
  --purple: #722acc;
}

::selection {
  background-color: var(--purple);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: var(--background2);
  color: white;
}

h1 {
  color: var(--foreground);
}


.a-nostyle{
  text-decoration: none;
  color: var(--foreground2);
  font-style: normal;
}

a {
  color: var(--foreground3);
  font-style: italic;
  text-decoration: none;
}

.sb-20 {
  padding-bottom: 20px;
}

.content-box {
  max-width: 1000px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: var(--foreground2);
}


.t-center {
  text-align: center;
}

.c-landing-hello {
  padding-top: 80px;
}

.bg-image {
  position: absolute;
  left: 0;
  top: 0px;
/*  background: url(https://join-lemmy.org/static/assets/images/main_img.webp);*/
  background-image: url(https://static1.e926.net/data/sample/22/bf/22bf5adb95e1a3ca54b960caa0ae36cb.jpg);
  background-size: 80%;
  width: 100%;
  height: 600px;
  max-height: 600px;
  z-index: -1;
  filter: blur(7px) brightness(60%);
}

.t-landing-title {
  font-size: 45px;
  font-weight: 900;
  
}

.bg-dark {
  background-color: var(--background) ;
  height: inherit;
  top: 80px;
  left: 0;
  width: 100%;
}

.c-about {
  margin-top: 60px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.btn-landing {
      margin-left: auto;
      margin-right: auto;
      background-color: var(--purple);
      border-radius: 10px;
      padding: 10px;
      width: 200px;
      text-align: center;
      margin-top: 45px;
      font-size: 20px;
}

.btn-primary {
      margin-left: auto;
      margin-right: auto;
      background-color: var(--purple);
      border-radius: 10px;
      padding: 10px;
      width: 180px;
      text-align: center;
      margin-top: 45px;
      font-size: 15px;
}

.btn {
  text-decoration: none;
  color: var(--foreground);
  font-style: normal;
  margin: 5px;
}

.btm a {
  text-decoration: none;
}

.c-services-cards-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: center;
  max-width: 1550px;
}

.c-services-card {
  display: block;
  background-color: var(--background3);
  width: 419px;
  height: 445px;
  margin: 15px;
  border-radius: 13px;
  padding: 20px;
}

.c-services-card-img {
  display: block;
}

.c-services-card-img img {
  border-radius: 14px;
  width: 374px;
}

.c-services-card h3 {
  font-size: 25px;
  font-weight: 700;
}


nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--background);
} 


.c-nav {
  padding-top: 5px;
  display: inline-block;
  vertical-align: middle;
}


.nav-link {
  text-decoration: none;
  color: var(--foreground2);
  margin-left: 10px;
}

.nav-link:hover {
  color: var(--foreground);
}

.c-contact-drgnz-card {
  padding: 15px;
}
.c-contact-drgnz-card img {
  width: 80px;
}

.c-staff-card {
  display: block;
  background-color: var(--background4);
  width: 250px;
  border-radius: 14px;
  margin: 10px;
  /*border: #722acc80 1px solid;*/
}

.c-staff-card-icon img {
  width: 30px;
  margin-left: 8px;
}

.c-staff-card-img {
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
}

.c-staff-card-img img {
  width: 200px;
  height: 200px;
  border-radius: 14px;
}

.c-staff-card-title h2 {
  margin-bottom: 0px;
  font-weight: 800;
}

.c-staff-card-description {
  max-width: fit-content;
  margin: 20px;
}
