html {
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #050506;
  color: #a795b9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  min-height: 100%;
  flex-direction: column;
}

.main-container {
  margin-left: 25%;
  margin-right: 25%;
}

h1, h2, h3, h4, h5, h6 {
  color: #ebd9ff;
} 

a {
  color: #7858a6;
}


a:hover {
  color: #562982;
}

.c-li-services a {
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
}



